In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os

## SQL Connections

In [2]:
%load_ext sql
%sql postgresql://toofanmacpro@localhost:5432/testdb

In [23]:
def toDB(da, tableName):
    try:
        engine = create_engine('postgresql://toofanmacpro@localhost:5432/testdb')
        try:
            da.to_sql(tableName, engine, if_exists = 'replace')
            print("table inserted")
        except Exception as e:
            print(f"insertion failed: {e}")
    except Exception as e:
        print(f"connection failed: {e}")

In [24]:
id = [1,2,3]
salary = [100,200,300]

df = pd.DataFrame({'id':id, 'salary': salary})

In [25]:
toDB(df, "Employee")

table inserted

## SQL Code

In [28]:
%%sql
SELECT * FROM "Employee" LIMIT 5;

 * postgresql://toofanmacpro@localhost:5432/testdb
3 rows affected.

[(0, 1, 100), (1, 2, 200), (2, 3, 300)]

In [29]:
%%sql
SELECT 
    e.salary
FROM "Employee" AS e
ORDER BY e.salary
LIMIT 2 OFFSET 1

 * postgresql://toofanmacpro@localhost:5432/testdb
2 rows affected.

[(200,), (300,)]

In [40]:
%%sql
SELECT (
        SELECT 
            DISTINCT e.salary
        FROM "Employee" AS e
        ORDER BY e.salary DESC
        LIMIT 1 OFFSET 1
    ) as SecondHighestSalary;

 * postgresql://toofanmacpro@localhost:5432/testdb
1 rows affected.

[(200,)]

## Pandas Code

In [33]:
df

   id  salary
0   1     100
1   2     200
2   3     300

In [69]:
secondLargest = (df
                 .salary
                 .drop_duplicates()
                 .nlargest(2)                           # gives a desceding order sorted list of top 2 -- nsmallest(n) would give bottom n sorted ascending order
                 # .sort_values(ascending = False)      # performance improves if not using sort
)

if len(secondLargest) < 2:
    print(pd.DataFrame({"SecondLargestNumber": np.NaN}))
else:
    print(pd.DataFrame({"SecondLargestNumber": secondLargest[1:2]}))

   SecondLargestNumber
1                  200