"Functions are first-class citizens in Python" - functional programming

* Takes another function as an argument
* returns another funciton to its caller

But functional programming is more than that, its core principles are:
- treats computation as evaluation of mathematical functions
- pure functions
- treating functions ad first-class citizens
- favouring immutability

#### »» Passing function as argument:

In [15]:
people = ['karen', 'sharan', 'sharon', 'sirin', 'erin']

sorted(people)

['erin', 'karen', 'sharan', 'sharon', 'sirin']

In [17]:
# but sorted takes optional arguments in which a function can be used, for example len or you can also use your own function

sorted(people, key = len)

['erin', 'karen', 'sirin', 'sharan', 'sharon']

In [18]:
def reverse_len(s):
    return -len(s)

sorted(people, key=reverse_len)

['sharan', 'sharon', 'karen', 'sirin', 'erin']

#### »» Returning a function to the caller

In [20]:
def outer():
    def inner():
        print("I am function inner()!")
    return inner

function = outer()
function

In [21]:
function()

I am function inner()!

In [22]:
outer()()

I am function inner()!

### » Anonymous Function with Lambda:

In [2]:
# lambda <parameter_list>: <expression>


lambda s : s[::-1]

In [16]:
callable(lambda s: s[::-1])                                 # we are using callable to see if the defined lambda function is callable

True

In [17]:
callable?

Signature: callable(obj, /)
Docstring:
Return whether the object is callable (i.e., some kind of function).

Note that classes are callable, as are instances of classes with a
__call__() method.
Type:      builtin_function_or_method

In [22]:
(lambda s: s[::-1])('!ereht pu esrever delleps ma')                                  # since its callable, lets pass some value through it

'am spelled reverse up there!'

In [26]:
'imalas'[::-1], 'slice'[::], 'mee'[:-1], 'snow'[1:]                           # syntax is [start:end:step] --> defaults are [0:len(iterable):1]

('salami', 'slice', 'me', 'now')

In [28]:
#what if I want to use a lambda expression on a list?

(lambda s: s[::-1])([1,2,3,4])                      # --> that should work

[4, 3, 2, 1]

In [29]:
# how about multiplying them

(lambda s: s*2)([1,2,3,4])                      # --> that should work

[1, 2, 3, 4, 1, 2, 3, 4]

In [31]:
# now what if we need a custom function inside a function args? say sorted()

sorted(['saran', 'karan', 'maran', 'sharon'])

['karan', 'maran', 'saran', 'sharon']

In [33]:
sorted(['saran', 'karan', 'maran', 'sharon'], key = len)   # this is ascending by default, what if I want desc?

['saran', 'karan', 'maran', 'sharon']

In [34]:
sorted(['saran', 'karan', 'maran', 'sharon'], key = (lambda s: -len(s)))

['sharon', 'saran', 'karan', 'maran']

In [40]:
# lets complicate our lambdas with some conditional expressions

(lambda x: ("even" if x in range(2,111,2) else "odd"))(102)

'even'

In [38]:
(lambda x: "even" if x%2 == 0 else "odd")(102)

'even'

In [ ]:
(lambda x: (x, x **2, x**3))(3)                             # so when writing multiple its better to use brackets

(3, 9, 27)

In [3]:
try:
    (lambda x: x, x**2, x**3)(3)                                  # or it would cause error like this
except Exception as e:
    print(f"error ocurred: e")

error ocurred: e

<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
/var/folders/4f/2y062y994h595k_cklx5tw8r0000gn/T/ipykernel_80965/3672520913.py:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda x: x, x**2, x**3)(3)                                  # or it would cause error like this

* lambda's have their own local namespace, so the parameter names don't conflict with identical names in global namespace.
* however a lambda can access variables in global namespace but it cannot modify them
* always keep lambda inside function itself in ( <lambda function here> ) to avoid errors

In [4]:
try:
    print(f"- {lambda s: s[::-1]}")                     # this would cause error like
except Exception as e:
    print(f"error ocurred: e")

SyntaxError: f-string: lambda expressions are not allowed without parentheses (428257400.py, line 2)

In [51]:
print(f"- {(lambda s: s[::-1])} - ")

- <function <lambda> at 0x10689fba0> -

In [52]:
print(f"- {(lambda s: s[::-1])('?taht teg')} - ")

- get that? -

### » Applying a Function to an iterable with map( ):

Now the limitation of lambda necessiates the need for map() function:

- like for example 
    * (lambda x : ('even' if x%2 == 0 else 'odd)) works on a integer because x%2 expects integer
    * not work on a list (eg. [1,2,3,4,5]) -->  lambda takes the whole list as an object and does not iterate through it individually
    * conversely, operations like slicing [::-1] or len(x) work directly on iterable objects inside lambda 
        * this is because those built-in operations can process the collection as a whole, and do not need lambda's assistance in breaking it up element by element to process

- since lambdas cannot do iterations themselves, we get map() function involved

One key thing to note about map() is it breaks down the object into individual elements and passes them through the function:

example:
* str function with [1,2,3] - it passes str(1), then str(2), then str(3)
* str.upper functoin with ['abc', 'def', 'ghi'] - it passes 'abc'.upper(), 'def'.upper, 'ghi'.upper()

Note: but critical thing to note is

if map(function, [a,b,c], [1,2,3]) is given - it passes the values like this function(a,1), function(b,2), function(c,3)

#### »» Calling map( ) with single iterable

In [56]:
(lambda s: s[::-1])(['saran', 'karan', 'sharon'])                       # this reverses the items in the list, what if we want the reversal to be by word?

['sharon', 'karan', 'saran']

In [60]:
list(map(                                                           # map is just an iterator btw, so we need somthing like a lis() of to get the values
    (lambda s: s[::-1]),
    ['saran', 'karan', 'sharon']                                    # now instead of reversing the order of items in list, it actually reverses each word
))

['naras', 'narak', 'norahs']

In [61]:
';'.join('cat')

'c;a;t'

In [63]:
';'.join(['cat','dog'])

'cat;dog'

In [64]:
';'.join([1,2,3,4])

TypeError: sequence item 0: expected str instance, int found

In [66]:
';'.join(str([1,2,3,4]))                    # this is not what i want though

'[;1;,; ;2;,; ;3;,; ;4;]'

In [76]:
';'.join(list(str(x) for x in [1,2,3,4]))           # list comprehension is more pythonic

'1;2;3;4'

or

In [77]:
';'.join(map(str, [1,2,3,4]))                       # but same can be achieved via map()

'1;2;3;4'

#### »» Calling map( ) with multiple iterables

In [79]:
list(map(
    (lambda x, y, z : x + y + z ),
    [1,2,3], [3,4,5], [6,7,8]
))

[10, 13, 16]

In [104]:
list(
    map(
        str.upper,
        ['abc', 'def','ghi']
    )
)

['ABC', 'DEF', 'GHI']

In [107]:
def add_three(a,b,c):
    return a + b + c

list(
    map(
        add_three,
        [1,2,3], [10,20,30], [100,200,300]      # adds elements by position in respective lists to each other.
    )
)

[111, 222, 333]

In [108]:
list(
    map(
        lambda a,b,c : a+b+c,
        [1,2,3],
        [10,20,30],
        [100,200,300]
    )
)

[111, 222, 333]

### » Selecting Elements from an Iterable with filter( )

In [109]:
list(
    filter(
        lambda x : x > 100,
        [300,400,4,5,65,99,100]
    )
)

[300, 400]

In [110]:
def grt_thn(x):
    return x > 100


list(filter(grt_thn, [300,400,4,5,65,99,100]))

[300, 400]

In [112]:
list(filter((lambda x: x%2 == 0), range(10)))

[0, 2, 4, 6, 8]

In [116]:
names = ["saran", "KARAN", "Sharon", "ERIN"]

list(filter(lambda s : s.isupper(), names ))

['KARAN', 'ERIN']

Another usage of functional programming:

__reduce(function, iterable, initializer)__

though of less utility, one key thing to note about the function in reduce() is that it has to take in two elements every time it runs